$primary-color : #579c86;
$secondary-color : #f9cb47;
$menu1-background :#fadfdb;
$menu1-color-text : #3c1218;
$menu2-background : #fdf5fe;
$menu2-color-text : #c77430;
$menu3-background : #f9f9f9;
$menu3-color-text : #2386f6;
$menu4-background : #fdfffd;
$menu4-color-text : #72bf56;