footer{
    background-color: $primary-color ;
    height: 5%;

    .container{
        height: 100%;
        width: 90%;
        margin: 0 auto;
        font-size: 1.2em;
        line-height: 0.5em;
        
        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            a{
                color: $secondary-color ;
                text-decoration: none;
            }
        }
        
    }
    
}