header{
    background-color: $primary-color ;
    height: 10%;
    .container{
        width: 100%;
        height: 100%;
        section{
            display: flex;
            justify-content: center;
            height: 100%;
            h1{
                line-height: 1.5em;
                    font-size: 3em;
                a{
                    color: $secondary-color;
                    color: $secondary-color ;
                    text-decoration: none;
                }
            }
        }
    }
}