.menuName {
  width: 100%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menuName h3 {
  display: inline;
  font-size: 20px;
  line-height: 20px;
  color: black;
  text-align: center;
}

.menuContent, .menuContent1, .menuContent2, .menuContent3, .menuContent4 {
  width: 100%;
  height: 75%;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menuContent .title, .menuContent1 .title, .menuContent2 .title, .menuContent3 .title, .menuContent4 .title {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5em;
}

.menuContent .title h1, .menuContent1 .title h1, .menuContent2 .title h1, .menuContent3 .title h1, .menuContent4 .title h1 {
  display: block;
  color: #72bf56;
  font-size: 2.5em;
  line-height: 2rem;
  font-weight: lighter;
  margin: 0 auto;
  text-align: center;
}

.menuContent .menuSections, .menuContent1 .menuSections, .menuContent2 .menuSections, .menuContent3 .menuSections, .menuContent4 .menuSections {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
  margin: 1% auto;
}

.menuContent .menuSections .menuSection, .menuContent1 .menuSections .menuSection, .menuContent2 .menuSections .menuSection, .menuContent3 .menuSections .menuSection, .menuContent4 .menuSections .menuSection {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5em;
  line-height: 1rem;
}

.menuContent .menuSections .menuSection .category, .menuContent1 .menuSections .menuSection .category, .menuContent2 .menuSections .menuSection .category, .menuContent3 .menuSections .menuSection .category, .menuContent4 .menuSections .menuSection .category {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menuContent .menuSections .menuSection .category img, .menuContent1 .menuSections .menuSection .category img, .menuContent2 .menuSections .menuSection .category img, .menuContent3 .menuSections .menuSection .category img, .menuContent4 .menuSections .menuSection .category img {
  width: 35%;
}

.menuContent .menuSections .menuSection .category span, .menuContent1 .menuSections .menuSection .category span, .menuContent2 .menuSections .menuSection .category span, .menuContent3 .menuSections .menuSection .category span, .menuContent4 .menuSections .menuSection .category span {
  width: 30%;
  text-align: center;
}

.menuContent .menuSections .menuSection .meals, .menuContent1 .menuSections .menuSection .meals, .menuContent2 .menuSections .menuSection .meals, .menuContent3 .menuSections .menuSection .meals, .menuContent4 .menuSections .menuSection .meals {
  width: 100%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 3rem;
}

.menuContent .menuSections .menuSection .meals .meal, .menuContent1 .menuSections .menuSection .meals .meal, .menuContent2 .menuSections .menuSection .meals .meal, .menuContent3 .menuSections .menuSection .meals .meal, .menuContent4 .menuSections .menuSection .meals .meal {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1rem;
  line-height: 2rem;
}

.menuContent .menuNameBottom, .menuContent1 .menuNameBottom, .menuContent2 .menuNameBottom, .menuContent3 .menuNameBottom, .menuContent4 .menuNameBottom {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menuContent .menuNameBottom h2, .menuContent1 .menuNameBottom h2, .menuContent2 .menuNameBottom h2, .menuContent3 .menuNameBottom h2, .menuContent4 .menuNameBottom h2 {
  padding-left: 1%;
}

.menuContent1 {
  background-color: #fadfdb;
  color: #3c1218;
}

.menuContent1 i {
  color: #ee5860;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 38px;
}

.menuContent1 .title h1 {
  color: #3c1218;
}

.menuContent1 .menuSections {
  color: #3c1218;
}

.menuContent2 {
  background-color: #fdf5fe;
  color: #c77430;
}

.menuContent2 .title h1 {
  color: #c77430;
}

.menuContent2 .menuSections {
  color: #c77430;
}

.menuContent2 .menuSections .menuSection:nth-child(1) {
  color: #c77430;
}

.menuContent2 .menuSections .menuSection:nth-child(2) {
  color: #a56799;
}

.menuContent2 .menuSections .menuSection:nth-child(3) {
  color: #6e4ccc;
}

.menuContent3 {
  background-color: #f9f9f9;
  color: #2386f6;
}

.menuContent3 .title h1 {
  color: #2386f6;
}

.menuContent3 .menuSections {
  color: #000000;
}

.menuContent4 {
  background-color: #fdfffd;
  color: #72bf56;
}

.menuContent4 .title h1 {
  color: #72bf56;
}

.menuContent4 .menuSections {
  color: #000000;
}
/*# sourceMappingURL=munuType.css.map */