$primary-color : #579c86;
$secondary-color : #f9cb47;
$menu1-background :#fadfdb;
$menu1-color-text : #3c1218;
$menu2-background : #fdf5fe;
$menu2-color-text : #c77430;
$menu3-background : #f9f9f9;
$menu3-color-text : #2386f6;
$menu4-background : #fdfffd;
$menu4-color-text : #72bf56;

/* CSS for the home page */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html , body{
    height: 100%;
    width: 100%;
}
body{
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: $secondary-color ;

    #app{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
/*    HEADER  */
        header{
            background-color: $primary-color ;
            height: 10%;
            .container{
                width: 100%;
                height: 100%;
                section{
                    display: flex;
                    align-items: center;
                    margin: 1% auto;
                    justify-content: center;
                        
                        a{
                            color: $secondary-color;
                            text-decoration: none;
                            h1{
                                letter-spacing: -3px;
                                line-height: 1em;
                                font-weight: 500;
                                font-size: 2.8em;
                                font-family: "Roboto", sans-serif;}
                        }
                    
                }
            }
        }
/*          MAIN      */
        main{
            flex-grow:1;
            max-height: 85%;
            overflow-y: scroll;
            padding: 2.5% 0;
            section{
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 100%;
                padding:0 10%;
                align-items: center;
                .menus{
                    display: flex;
                    flex-wrap: wrap;
                    // height: 95%;
                    width: 100%;
                    margin-left: 24%;
                    .menu{
                        border:4px solid #ededed;
                        display: flex;
                        align-items: center;
                        width: 35%;
                        height: 35em;
                        margin: 1em;
                       .zoom{
                        width: 75%;
                        height: 75%;
                        margin: auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-decoration: none;
                        transition: transform 1000ms ease-in-out;
                        overflow: hidden;
                        
                        // padding: 2.5% 0;
                        
                        
                        // border: 1px solid black;
                        text-align: center;
                        line-height: 30px;
                        i{
                            font-size: 4em;
                            &:before {
                                background: -webkit-linear-gradient(360deg, #e24a56, #eb944d);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent; 
                        }}
                       }
                       .zoom:hover{
                        transform: scale(1.3);
                       }
                    }
                    a{
                        text-decoration: none;
                    }
                   
                    .menu:nth-child(1){
                        background-color: $menu1-background;
                        color: $menu1-color-text ;
                        h2{
                            font-family: "Devonshire", normal;
                            font-size: 1.6rem;
                            color: $menu1-color-text ;
                        }
                        h1{
                            font-family: "Kalam", cursive;
                            padding-top: 2vh;
                            font-size: 2rem !important;
                        }
                    }
                    .menu:nth-child(2){
                        background-color: $menu2-background;
                        color: $menu2-color-text ;
                        h2{
                            font-family: "Croissant One", cursive;
                            font-size: 1.2rem;
                            background: -webkit-linear-gradient(0deg, #cc6410, #a45be9, #905BFD);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                        h1{
                            font-family: 'Times New Roman', Times, serif;
                            color: $menu2-color-text ;
                            padding-top: 2vh;
                            font-size: 2rem;
                        }
                    }
                    .menu:nth-child(3){
                        background-color: $menu3-background;
                        color: $menu3-color-text ;
                        h2{
                            font-family: "Alex Brush", cursive;
                            background: -webkit-linear-gradient(360deg, #153fdf, #0b6cf2, #2c8df6);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            font-size: 1.8rem;
                        }
                        h1{
                            font-family: "Kalam", cursive;
                            color: $menu3-color-text ;
                            padding-top: 2vh;
                            font-size: 2rem !important;
                        }
                    }
                    .menu:nth-child(4){
                        background-color: $menu4-background;
                        color: $menu4-color-text ;
                        h2{
                            font-family: "Alex Brush", cursive;
                            background: -webkit-linear-gradient(360deg, #52A445, #BEFF7F);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            font-size: 1.8rem;
                        }
                        h1{
                            font-family: "Kalam", cursive;
                            color: $menu4-color-text ;
                            padding-top: 2vh;
                            font-size: 2rem !important;
                        }
                    }
                }


                .comingsoon{
                    display: flex;
                    width: 30%;
                    margin: 0 auto;
                    // height: 5%;
                    
                    // margin-top: 2.5%;
                    a{
                        background-color: $primary-color ;
                        display: block;
                        width: 100%;
                        height: 6vh;
                        color: $secondary-color ;
                        text-decoration: none;
                        text-align: center;
                        border-radius: 10px;
                        font-size: 1.5em;
                        line-height: 2.5rem;
                        margin-top: 15px;
                        margin-bottom: 15px;
                        span{
                            animation-name: blink;
                            animation-duration: 1.4s;
                            animation-iteration-count: infinite;
                            animation-fill-mode: both;
                        } 
                    }
                    span:nth-child(2) {
                        animation-delay: .2s;
                    }
                    span:nth-child(3) {
                        animation-delay: .4s;
                    }
                    @keyframes blink {
                        /**
                         * At the start of the animation the dot
                         * has an opacity of .2
                         */
                        0% {
                          opacity: .2;
                        }
                        /**
                         * At 20% the dot is fully visible and
                         * then fades out slowly
                         */
                        20% {
                          opacity: 1;
                        }
                        /**
                         * Until it reaches an opacity of .2 and
                         * the animation can start again
                         */
                        100% {
                          opacity: .2;
                        }
                    }
                    
                    
                    
                }
                
            }
        }
        footer{
            background-color: $primary-color ;
            
            height: 8%;
        
            .container{
                height: 100%;
                width: 90%;
                margin: 0 auto;
                
                div{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 100%;
                    a{
                        font-size: 1.4em;
                        line-height: 0.5em;
                        color: $secondary-color ;
                        font-family: 'Montserrat', sans-serif;
                        text-decoration: none;
                    }
                    .wiggle a:hover{ 
                        animation: wiggle 150ms infinite;
                        animation-timing-function: linear;   
                      }
                      
                      @keyframes wiggle {
                        0% { transform: translate(2px, 0); }
                        50% { transform: translate(-2px, 0); }
                        100% { transform: translate(2px, 0); }
                      }
                }
                
            }
            
        }
    }
}

/*  ============  Media query   ================ */







/* On the screens, when the window width is at most 768px for the smartphone */
@media screen and ( min-width : 100px) and ( max-width : 767px){
body{
    #app{
        header{
            height: 7%;
            .container{
                section{
                    a{
                        h1{
                            font-size: 2em;
                            line-height: 1.6em;
                        }
                    }
                }
            }
        }
        main{
            .container{
                padding: 0 5%;
                .menus{
                    margin-left: 0;
                    flex-direction: column;
                    .menu{
                        width: auto;
                        height: 30em;
                    }
                }
                .comingsoon{
                    width: 70%;
                }
            }

        }
        footer{
            height: 8%;
            .container{
                div{
                    a{
                        font-size: 1.2em;
                    }
                }
            }
        }

    }
}
}


/* On the screens, when the window width is between 769px and at most 991px for the tablet */
@media screen and ( min-width : 768px) and ( max-width : 1024px){
    body{
        #app{
            header{
                height: 7%;
                .container{
                    section{
                        a{
                            h1{
                                line-height: 1.8em;
                            }
                        }
                    }
                }
            }
            main{
                .container{
                    .menus{
                        margin-left: 0;
                        .menu{
                            width: 45%;
                            height: 34em;
                        }
                        
                    }
                    .comingsoon{
                        width: 50%;
                        a{
                            height: 4vh;
                            line-height: 2.5rem;
                            font-size: 2em;
                            margin-top: 25px;
                        }
                    }
                }
    
            }
            footer{
                height: 8%;
                .container{
                    div{
                        a{
                            
                            font-size: 2em;
                        }
                    }
                }
            }
    
        }
    }
}